<%- include('../_partials/header') %>
    <h1>All Beers</h1>
    <table>
        <tr>
            <th>Name</th>
        </tr>
        <% beers.forEach(function(beer) { %>
            <tr>
                <td>
                    <a href="/beers/<%= beer.id %>">
                        <%= beer.name %>
                    </a>
                </td>
            </tr>
        <% }); %>
    </table>
<%- include('../_partials/footer') %>