<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>All Bars</h1>
    <table>
        <tr>
            <th>Name</th>
        </tr>
        <% bars.forEach(function(bar) { %>
            <tr>
                <td>
                    <a href="/bars/<%= bar.id %>">
                        <%= bar.name %>
                    </a>
                </td>
            </tr>
        <% }); %>
    </table>
</body>
</html>